services:
  app:
    build: .
    image: cloudflared-web
    container_name: cloudflared-web
    privileged: true
    network_mode: host
    environment:
      WEBUI_PORT: 1111
      METRICS_ENABLE: 'true'
    volumes:
      - ./config:/config
      - ../app/backend:/var/app/backend
      - ../app/frontend:/var/app/frontend
      - ./.cloudflared:/root/.cloudflared
    tty: true
    stdin_open: true
